## Deliverable 3. Create a Travel Itinerary Map.

In [9]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import Google_API_KEY

# Configure gmaps
gmaps.configure(api_key=Google_API_KEY)

In [10]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,2,Quatre Cocos,MU,70.09,light rain,-20.2078,57.7625,Sunrise Attitude Hotel
1,3,Georgetown,MY,81.90,few clouds,5.4112,100.3354,Cititel Penang
2,4,Hasaki,JP,90.28,overcast clouds,35.7333,140.8333,Inubosaki Kanko Hotel
3,5,Ponta Do Sol,PT,73.00,clear sky,32.6667,-17.1000,Hotel do Campo
4,7,Rikitea,PF,72.36,light rain,-23.1203,-134.9692,People ThankYou
5,10,Coahuayana,MX,83.35,overcast clouds,18.7333,-103.6833,El rranchito michuacan de ocampos
6,12,Jamestown,US,71.24,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
7,13,Gua Musang,MY,74.62,overcast clouds,4.8823,101.9644,Mines Inn Hotel
8,16,Douglas,US,84.27,clear sky,41.3000,-96.1670,Hilton Garden Inn Omaha West
9,17,Gimli,CA,80.28,broken clouds,50.6336,-96.9907,Lakeview Gimli Resort

In [13]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [14]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=="Lompoc"]
vacation_end = vacation_df.loc[vacation_df['City']=="Lompoc"]
vacation_stop1 = vacation_df.loc[vacation_df['City']=="Alamogordo"]
vacation_stop2 = vacation_df.loc[vacation_df['City']=="San Patricio"] 
vacation_stop3 = vacation_df.loc[vacation_df['City']=="Hilton Head Island"] 
vacation_stop1

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
34,72,Alamogordo,US,82.96,clear sky,32.8995,-105.9603,Fairfield Inn & Suites by Marriott Alamogordo

In [18]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

In [19]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

import gmaps.datasets

gmaps.configure(api_key=Google_API_KEY)

fig = gmaps.figure()

Port2Kiama = gmaps.directions_layer(start,end,waypoints = [stop1,stop2,stop3],travel_mode='DRIVING')
fig.add_layer(Port2Kiama)
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,503,Lompoc,US,88.02,clear sky,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
1,72,Alamogordo,US,82.96,clear sky,32.8995,-105.9603,Fairfield Inn & Suites by Marriott Alamogordo
2,587,San Patricio,US,92.12,overcast clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
3,513,Hilton Head Island,US,87.91,clear sky,32.2163,-80.7526,Disney’s Hilton Head Island Resort

In [21]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]

fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))